// Core defaults
$primary-color: #1a9549;
$accent-color: #ed1c24;
$primary-text-color: #ffffff;

$xs-padding: 0.2rem;
$s-padding: 0.4rem;
$m-padding: 0.8rem;
$l-padding: 1.2rem;
$xl-padding: 1.6rem;
$xxl-padding: 2.0rem;
$xxxl-padding: 2.4rem;

$s-font-size: 1.2rem;
$m-font-size: 1.6rem;
$l-font-size: 2.0rem;
$xl-font-size: 2.4rem;

$m-border-radius: 4px;

// Elements
$mobile-pane-size: 4.2rem;

// Default styles

html {
  font-size: 62.5%;

  @include gridle_state(mobile) {
    font-size: 75%;
  }
}

body {
  font-family: 'VM_FSEmeric', sans-serif;
  font-weight: 300;
  font-size: $m-font-size;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

// Gridle grow/adapt hack
.gr-grow, .gr-adapt {
  > .gr-adapt-content {
    display: inline-block;
    font-size: $m-font-size;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

p, ol, ul {
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: initial;
  }
}

h1, h2, h3, h4 {
  font-weight: 700;
}

img.size-full {
  max-width: 100%;
  height: auto;
}
