@font-face {
  font-family: 'VM_FSEmeric';
  src: url('../../fonts/fsemeric_medium.eot');
  src: local('☺'), url('../../fonts/fsemeric_medium.woff') format('woff'), url('../../fonts/fsemeric_medium.ttf') format('truetype'), url('../../fonts/fsemeric_medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VM_FSEmeric';
  src: url('../../fonts/fsemeric_book.eot');
  src: local('☺'), url('../../fonts/fsemeric_book.woff') format('woff'), url('../../fonts/fsemeric_book.ttf') format('truetype'), url('../../fonts/fsemeric_book.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'VM_FSEmeric';
  src: url('../../fonts/fsemeric_bold.eot');
  src: local('☺'), url('../../fonts/fsemeric_bold.woff') format('woff'), url('../../fonts/fsemeric_bold.ttf') format('truetype'), url('../../fonts/fsemeric_bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'VM_FSEmeric';
  src: url('../../fonts/fsemeric_extrabold.eot');
  src: local('☺'), url('../../fonts/fsemeric_extrabold.woff') format('woff'), url('../../fonts/fsemeric_extrabold.ttf') format('truetype'), url('../../fonts/fsemeric_extrabold.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
