.ui {
  // Buttons

  &-button {
    display: inline-block;
    appearance: none;
    background: $primary-color;
    color: $primary-text-color;
    text-decoration: none;
    padding: 0.5em 0.65em;
    font-size: inherit;
    font-weight: 900;
    text-transform: uppercase;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;

    &--accent {
      background: $accent-color;
    }

    &--big {
      padding: 0.65em 1.35em;
      box-sizing: border-box;

      @include gridle_state(mobile) {
        text-align: center;
        display: block;
        width: 100%;
      }
    }
  }

  // Presentation: Green Table
  &-green-table {
    margin-bottom: 1em;

    > div > br:first-child {
      display: none;
    }

    .odd, .even {
      color: #ffffff;
      padding-top: 1em;
      padding-bottom: 1em;
    }

    .odd {
      background: #2e8d41;
    }

    .even {
      background: #61d157;
    }

    strong {
      font-size: 2.4rem;
      position: relative;
      margin-bottom: 0.1em;

      &:after {
        position: absolute;
        top: 1.35em;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        content: '';
        background: #ffffff;
        width: 3rem;
        height: 6px;
      }
    }
  }

}
