<p class="form__loading" ng-if="!$ctrl.render || $ctrl.inProgress">
    <i class="fa fa-circle-o-notch fa-spin fa-4x fa-fw"></i>
</p>

<p class="form__error-message" ng-if="$ctrl.error">
    <i class="fa fa-warning fa-fw"></i>
    {{ $ctrl.error }}
</p>

<form ng-if="$ctrl.render"
    class="form"
    name="contactUsForm"
    ng-submit="$ctrl.send(contactUsForm)"
    ng-hide="$ctrl.success"
    novalidate
>
    <div class="row">
        <div class="form__field" ng-class="{ 'gr-6 gr-12@mobile': $ctrl.shouldShowProducts(), 'gr-12': !$ctrl.shouldShowProducts() }">
            <div class="select-wrapper">
                <select
                    ng-model="$ctrl.model.subject"
                    ng-change="$ctrl.selectSubject()"
                    name="subject"
                    id="contact-us-subject"
                    tabindex="1"
                    required
                >
                    <option value="" disabled>Select from the following topics:</option>
                    <option ng-repeat="subject in $ctrl.subjects" ng-value="subject.title">{{ subject.title }}</option>
                </select>
            </div>
        </div>
        <div class="gr-6 gr-12@mobile form__field" ng-if="$ctrl.shouldShowProducts()">
            <div class="select-wrapper">
                <select
                    ng-model="$ctrl.model.product"
                    name="product"
                    id="contact-us-product"
                    tabindex="2"
                    required
                >
                    <option value="" disabled>Select a product</option>
                    <option ng-repeat="product in $ctrl.products" ng-value="product.title">{{ product.title }}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="gr-6 gr-12@mobile form__field">
            <input
                placeholder="Enter your name here"
                ng-model="$ctrl.model.name"
                name="name"
                id="contact-us-name"
                type="text"
                maxlength="60"
                tabindex="3"
                required
            />
        </div>
        <div class="gr-6 gr-12@mobile form__field">
            <input
                placeholder="Enter your email address here"
                ng-model="$ctrl.model.email"
                name="email"
                id="contact-us-email"
                type="email"
                maxlength="255"
                tabindex="4"
                required
            />
        </div>
    </div>
    <div class="row">
        <div class="gr-12 form__field">
            <textarea
                placeholder="Enter your message here"
                ng-model="$ctrl.model.message"
                name="message"
                id="contact-us-message"
                maxlength="5000"
                minlength="3"
                tabindex="5"
                required
            ></textarea>
        </div>
    </div>
    <div class="row">
        <div class="gr-12 form__submit">
            <button
                class="ui-button ui-button--accent ui-button--big"
                type="submit"
                tabindex="6"
            >
                <i class="fa fa-fw fa-send"></i>
                Send
            </button>
        </div>
    </div>
</form>

<div class="row form" ng-if="$ctrl.success">
    <div class="gr-2 hide@mobile form__success-icon">
        <i class="fa fa-fw fa-4x fa-envelope-o"></i>
    </div>
    <div class="gr-10 gr-12@mobile form__success">
        <h3>Thank you for contacting us!</h3>
        <p>
            We've received an email with your message. A representative
            will contact you as soon as possible.
        </p>
    </div>
</div>
