.bottom-tiles {
  &__cell {
    position: relative;
    background: none no-repeat center center #eeeeee;
    background-size: cover;

    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 43.75%;
    }
  }

  &__wrapper {
    position: absolute;
    padding: 1rem;
    bottom: 0;

    h3 {
      font-size: 2.4rem;
      color: #ffffff;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);
      margin-bottom: 0.5em;
    }
  }

  &__main {
    background-image: url('../../img/home-main-bg.jpg');
  }

  &__products {
    background-image: url('../../img/home-products-bg.jpg');
  }

  &__coffee-center {
    background-image: url('../../img/home-coffee-center-bg.jpg');
  }

  &__life-monteverde {
    background-image: url('../../img/home-life-monteverde-bg.jpg');
  }
}
