.footer {
  padding: $m-padding 0;
  background: #000000;
  color: #ffffff;

  .gr-adapt-content {
    font-size: 1.2rem;
  }

  @include gridle_state(mobile) {
    text-align: center;
  }

  &__contact-info {
    @include gridle_state(mobile) {
      margin-bottom: 0.5em;
    }
  }

  &__icons {
    position: relative;
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    line-height: 1em;
    width: 3rem;
    height: 3rem;
    text-align: center;
    margin-right: 0.2em;
    transform-style: preserve-3d;

    > i.fa {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

$footer-height: 3rem + ($m-padding * 2) + 0.2rem;
