.form {
  &__field {
    margin-bottom: 2rem;

    input[type=text],
    input[type=password],
    input[type=email],
    input[type=number],
    textarea,
    select {
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding: 0.35em;
      font-family: inherit;
      font-weight: 300;
      font-size: 2rem;
      background: #ffffff;
      color: #000000;
      border: 1px solid #cccccc;
      border-radius: 0;
    }

    textarea {
      resize: none;
      height: 6em;
    }

    select {
      appearance: none;
      background: url('../../img/dropdown.png') no-repeat calc(100% - 0.35em) center;
    }
  }

  &__submit {
    text-align: right;

    @include gridle_state(mobile) {
      text-align: center;
    }
  }

  &.ng-submitted .ng-invalid {
    background-color: #ffeeee;
    color: #cc0000;
    border-color: #cc0000;
  }

  &__loading {
    text-align: center;
  }

  &__error-message {
    background: #ffcccc;
    color: #cc0000;
    padding: 0.35em;
    font-weight: 400;
    border-radius: 3px;
  }

  &__success {
    font-size: 2rem;

    @include gridle_state(mobile) {
      text-align: center;
    }

    &-icon {
      text-align: right;
    }

    h3 {
      margin-top: 0.35em;
    }
  }
}
