.listable {
  &__item {
    margin-bottom: $l-padding;

    @include gridle_state(mobile) {
      padding-bottom: $xxl-padding;
      margin-bottom: $xxl-padding;
      border-bottom: 1px solid #cccccc;

      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-thumb {
      display: block;
      width: 100%;
      background: none no-repeat center center #eeeeee;
      background-size: cover;

      &:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: 82.66%; 

        @include gridle_state(mobile) {
          padding-top: 33%;
        }
      }
    }

    &-content {
      @include gridle_state(mobile) {
        margin-top: $l-padding;
        margin-bottom: $l-padding;
      }

      h3 {
        margin-bottom: 1em;

        @include gridle_state(mobile) {
          margin-bottom: 0.5em;
        }
      }
    }
  }

  &__action {
    text-align: right;

    @include gridle_state(mobile) {
      text-align: center;

      > a {
        display: block;
      }
    }
  }
}
