.mobile {
  &-pane {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99995;
    width: 100%;
    height: 6.4rem;
    background: #000000;
    color: #ffffff;
    transform-style: preserve-3d;

    @include gridle_state(mobile) {
      display: block;
    }

    // Hamburger menu
    &__menu-toggle {
      display: inline-block;
      font-size: $mobile-pane-size;
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  
  &-nav {
    display: none;
    position: fixed;
    top: 6.4rem;
    left: 0;
    bottom: 0;
    z-index: 99995;
    width: 65vw;
    box-sizing: border-box;
    background: $primary-color;
    color: $primary-text-color;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    overflow-y: auto;

    ul.menu {
      li.menu-item {
        > a {
          display: block;
          padding: 0.5em;
        }

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &.current-menu-item {
          > a {
            background: darken($primary-color, 5%);
          }
        }

        &.menu-item-has-children {
          margin-bottom: 0;
        }
      }
    }

    ul.sub-menu {
      li.menu-item {
        padding-left: 1em;

        &.current-menu-item {
          background: darken($primary-color, 5%);
        }
      }
    }
  }
}

body {
  @include gridle_state(mobile) {
    margin-top: 6.4rem;

    &.mobile-pane--menu-opened {
      overflow: hidden;
      
      .mobile-nav {
        display: block;
      }
    }
  }
}

