.nav {
  @include gridle_state(mobile) {
    display: none;
  }

  ul.menu {
    background: #000000;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding: 2.4rem 0;

    > li.menu-item {
      position: relative;
      display: inline-block;
      padding: $l-padding $m-padding calc(#{$l-padding} - 4px);
      border-bottom: 4px solid transparent;

      &:hover {
        background: $primary-color;
        color: $primary-text-color;
      }

      &.current-menu-item, &.current-menu-ancestor {
        border-bottom: 4px solid $primary-color;
      }

      &:hover, &:active {
        > ul.sub-menu {
          display: block;
        }
      }

      // Logo

      &.site-logo {
        font-size: 2.4rem;
        padding: 0;
        border: none;
        position: relative;
        width: 6.4em;
        height: 1em;

        &:hover {
          background: transparent;
        }

        > a {
          display: block;
          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden;
          color: rgba(0, 0, 0, 0);
          position: absolute;
          width: 100%;
          top: -100%; // fallback
          top: calc(#{-($l-padding)} - 1em);
          background: url('../../img/cafe-logo.png') no-repeat center center transparent;
          background-size: contain;
          z-index: 50;

          &:before {
            display: block;
            content: '';
            width: 100%;
            padding-top: 78.44%;
          }
        }

      }
    }
  }

  ul.sub-menu {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 100;
    display: none;
    padding: $l-padding;
    background: $primary-color;
    color: $primary-text-color;
    text-align: left;
    border-top: 4px solid rgba(0, 0, 0, 0.35);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);

    > li.menu-item {
      margin-bottom: 0.35em;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
