.page {
  &__hero-image {
    position: relative;
    background: none no-repeat center center #999999; 
    background-size: cover;
    margin-bottom: $xxl-padding * 2;
    
    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 20%;

      @include gridle_state(mobile) {
        padding-top: 45%;
      }
    }
  }

  &__hero-slider {
    background: none transparent !important;

    .swiper-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }

    .swiper-slide {
      background: none no-repeat center center #999999;
      background-size: cover;
    }

    .page__hero-content {
      pointer-events: none;
      z-index: 5;
    }

    .swiper-pagination-bullet {
      width: 2rem;
      height: 2rem;
      opacity: 1;
      border: 2px solid #ffffff;
      background: transparent;

      @include gridle_state(mobile) {
        width: 1rem;
        height: 1rem;
      }

      &.swiper-pagination-bullet-active {
        background: #ffffff;
      }
    }
  }

  &__hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
  }

  &__hero-title {
    font-size: 3.6rem;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);

    @include gridle_state(mobile) {
      font-size: 2.4rem;
    }
  }

  &__hero-meta {
    display: inline-block;
    margin-top: 0.5em;
    background: #000000;
    color: #ffffff;
    padding: 0.15em 0.5em;
  }

  &__content {
    font-size: 2rem;
    line-height: 1.25em;
    margin-bottom: $xxl-padding * 2;

    strong, b {
      font-weight: bold;
    }

    .the-content-index {
      width: 100%;
      margin-bottom: 1em;

      .tci-title {
        display: none;
      }

      .tci-items {
        ul {
          display: block;
          box-sizing: border-box;
          padding: 0 5% 1em;
          color: #333333;
          border-bottom: 1px solid #999999;
        }

        li {
          display: inline;

          &:after {
            color: $accent-color;
            content: ' \2022'
          }

          &:last-child:after {
            content: '';
          }
        }

        a {
          font-weight: 400;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &-cta {
      text-align: center;
      margin-bottom: 2.4rem;

      &--bottom {
        margin-bottom: 0;
        margin-top: 2.4rem;
      }
    }
  }

  &__generic-content {
    text-align: center;
  }
}
