.blog {
  &__hero-image {
    background-image: url('../../img/home-main-bg.jpg');
  }

  &__pagination {
    text-align: right;
    margin: 1em 0;

    > a {
      @extend .ui-button;
      @extend .ui-button--big;

      text-align: center;

      @include gridle_state(mobile) {
        margin-bottom: 1em;
      }
    }
  }
}
