.contact-us {
  &__form {
    border-bottom: 2px solid #cccccc;
    padding-bottom: 2rem;
    margin-bottom: 2rem;

    &-heading {
      text-align: center;
      font-size: 2.4rem;

      @include gridle_state(mobile) {
        font-size: 2rem;
      }
    }
  }

  //

  &__blog-link {
    text-align: center;
    margin-top: 1em;
  }

  &__item {
    position: relative;
    margin-top: 3em;

    @include gridle_state(mobile) {
      margin-top: 0;
      margin-bottom: 3em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    position: absolute;
    bottom: 100%;
    border-bottom: 3px solid #000000;
    margin-bottom: 1em;

    @include gridle_state(mobile) {
      position: initial;
      bottom: auto;
    }
  }

  &__content {
    padding: 0 1rem;
  }

  &__icons {
    text-align: center;
    vertical-align: middle;
  }

  &__gmaps-link {
    display: inline-block;
    width: 6.9rem;
    height: 7.1rem;
    background: url('../../img/gmaps-icon.png') no-repeat center center transparent;
    background-size: contain;
    margin: 0 1em;
    vertical-align: middle;
  }

  &__waze-link {
    display: inline-block;
    width: 16.6rem;
    height: 3.8rem;
    background: url('../../img/waze-logo.png') no-repeat center center transparent;
    background-size: contain;
    margin: 0 1em;
    vertical-align: middle;
  }

  &__fb-plugin {
    text-align: center;

    iframe {
      max-width: 100%;
    }
  }
}
