.home {
  &__container {
    min-height: calc(100vh - #{$footer-height});

    @include gridle_state(mobile) {
      min-height: 0;
    }

    > [class^="gr-"] > section {
      height: 100%;

      @include gridle_state(mobile) {
        height: auto;
      }
    }
  }

  &__section-wrapper {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10%;

    @include gridle_state(mobile) {
      bottom: 10px;
    }
  }

  &__main,
  &__products,
  &__coffee-center,
  &__life-monteverde {
    position: relative;
    background: no-repeat center center #dddddd;
    background-size: cover;

    @include gridle_state(mobile) {
      text-align: center;
    }

    h2 {
      color: #ffffff;
      font-size: 2.2rem;
      font-weight: 300;
      text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.85);
      margin-bottom: 0.35em;
    }

    .ui-button {
      font-size: 1.8rem;
    }
  }

  &__main {
    background-image: url('../../img/home-main-bg.jpg');
    border-right: 2px solid #ffffff;

    @include gridle_state(mobile) {
      border: none;
      min-height: 75vh;
    }

    h2 {
      font-size: 3.6rem;
    }

    .ui-button {
      font-size: 2.4rem;
    }
  }

  &__products {
    background-image: url('../../img/home-products-bg.jpg');

    @include gridle_state(mobile) {
      border: none;
      min-height: 50vh;
    }
  }

  &__coffee-center {
    background-image: url('../../img/home-coffee-center-bg.jpg');
    border-bottom: 2px solid #ffffff;

    @include gridle_state(mobile) {
      border: none;
      min-height: 50vh;
    }
  }

  &__life-monteverde {
    background-image: url('../../img/home-life-monteverde-bg.jpg');
    border-bottom: 2px solid #ffffff;

    @include gridle_state(mobile) {
      min-height: 50vh;
    }

    .home__section-wrapper {
      @include gridle_state(non-mobile) {
        right: 90px;
        right: calc(20px + 12.5vh);
      }
    }

    .life-monteverde-logo {
      display: block;
      width: 12.5%;
      width: 12.5vh;
      position: absolute;
      bottom: 10%;
      right: 10px;
      background: url('../../img/logolifemonteverde.jpg') no-repeat center center transparent;
      background-size: contain;

      @include gridle_state(mobile) {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        bottom: auto;
        top: 10%;
        width: 30%;
      }

      &:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: 118.73%;
      }
    }
  }

  // Nav

  &__nav {
    @include gridle_state(mobile) {
      display: none;
    }

    ul.menu {
      background: rgba(0, 0, 0, 0.65);
      color: #ffffff;
      font-size: 2.4rem;
      font-weight: 900;
      text-transform: uppercase;
      text-align: center;
      padding: $s-padding 0;

      > li.menu-item {
        position: relative;
        display: inline-block;
        padding: $l-padding $l-padding calc(#{$l-padding} - 2px);
        border-bottom: 2px solid transparent;

        &:hover {
          background: $primary-color;
          color: $primary-text-color;
        }

        &.current-menu-item {
          border-bottom: 2px solid $primary-color;
        }

        &:hover, &:active {
          > ul.sub-menu {
            display: block;
          }
        }

        // Logo

        &.site-logo {
          padding: 0;
          border: none;
          position: relative;
          width: 5.6em;
          height: 1em;

          &:hover {
            background: transparent;
          }

          > a {
            display: block;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            color: rgba(0, 0, 0, 0);
            position: absolute;
            width: 100%;
            top: -100%; // fallback
            top: calc(-100% + #{$s-padding});
            background: url('../../img/cafe-logo.png') no-repeat center center transparent;
            background-size: contain;
            z-index: 50;

            &:before {
              display: block;
              content: '';
              width: 100%;
              padding-top: 78.44%;
            }
          }

        }
      }
    }

    ul.sub-menu {
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 100;
      display: none;
      padding: $l-padding;
      background: $primary-color;
      color: $primary-text-color;
      text-align: left;
      border-top: 4px solid rgba(0, 0, 0, 0.35);
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);

      > li.menu-item {
        margin-bottom: 0.35em;

        &:hover {
          text-decoration: underline;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
